
<div class="main-content" >
    <div class="container-fluid">

<p-schedule [events]="events" [header]="header" defaultDate="{{date}}" [eventLimit]="4" [editable]="true"
            (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>

<p-dialog header="Assign Shift" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
    [style]="{'overflow':'visible'}" [resizable]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">



        <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="vin">Staff Member</label></div>
        
        <div class="ui-grid-col-8">
            <!--<p-autoComplete  [suggestions]="filteredServicesSingle" placeholder="E.g. John Smith" field="name" [multiple]="true"></p-autoComplete> -->
            <p-autoComplete [(ngModel)]="event.title" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" [size]="30"
    placeholder="Customer" [multiple]="true" [minLength]="1"></p-autoComplete>
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">Work Shift</label></div>
            <div class="ui-grid-col-8"><p-autoComplete [(ngModel)]="event.hours" [suggestions]="filteredNCountriesSingle" (completeMethod)="filterNCountrySingle($event)"  [size]="30" placeholder="9-5pm" [minLength]="1"></p-autoComplete></div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">From</label></div>
            <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.start" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="end">Until</label></div>
            <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.end" dateFormat="yy-mm-dd" dataType="string"></p-calendar></div>
        </div>
        <!--<div class="ui-grid-row">-->
            
            <!--<p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox>-->
        <!--</div>-->
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Delete" [disabled]="!event?.id"></button>
            <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" [disabled]="!event?.start"></button>
        </div>
    </p-footer>
</p-dialog>


</div>