<div class="main-content" >
    <div class="container-fluid">
        <!--<div class="row">-->
            <!--<div class="col-md-12">
                <div class="card" [@carduserprofile]>
                    <div class="header">
                        <h1>Push Notifications</h1>
                        <hr>
                    </div>
                    <div class="content">
                                     <form>
                         

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" class="form-control" placeholder="Company" value="Brand New Deal">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Send To</label>
                                        <input type="text" class="form-control" placeholder="Last Name" value="All">
                                    </div>
                                </div>
                            </div>

                         

                        

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Message</label>
                                        <textarea rows="5" class="form-control" placeholder="Here can be your description" >New Deal Starting from Bedford Stuy Today</textarea>
                                    </div>
                                </div>
                            </div>
                            <button (click)="sendEmail()" type="submit" class="btn btn-info btn-fill pull-right">Send Notifications</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>-->
            <!--<div class="col-md-4">
                <div class="card card-user" [@cardprofile]>
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                                <h4 class="title">Mike Andrew<br />
                                    <small>michael24</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Lamborghini Mercy <br>
                            Your chick she so thirsty <br>
                            I'm in that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>-->
        <!--</div>-->
    <div class="row">
            <div class="col-md-12">
                <div class="card" [@carduserprofile]>
                    <div class="header">
                        <h1>Marketing</h1>
                        <hr>
                    </div>
                    <div class="content">
                        <form>
                         

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" class="form-control" placeholder="Company" value="Brand New Deal">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Send To</label>
                                        <input type="text" class="form-control" placeholder="Last Name" value="All">
                                    </div>
                                </div>
                            </div>

                         

                        

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Message</label>
                                        <textarea rows="5" class="form-control" placeholder="Here can be your description" >New Deal Starting from Bedford Stuy Today</textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Send Emails</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="card card-user" [@cardprofile]>
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                                <h4 class="title">Mike Andrew<br />
                                    <small>michael24</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Lamborghini Mercy <br>
                            Your chick she so thirsty <br>
                            I'm in that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>-->
        </div>


        <div class="row">
            <button class="toggleInbox"> Inbox</button>
            <button (click)="sendEmail()"class="toggleSentMessages"> Sent</button>
            <div class="col-md-12">
                <div class="card" [@carduserprofile]>
             <table class="table table-hover table-striped">
                                    <thead>
                                        <!--<th>ID</th>-->
                                    	<th>Name</th>
                                        <th>Description</th>
                                    	<th>Cost</th>
                                        
                                    	<!--<th>Barbers</th>-->
                                        <th>Service</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let message of messagesArray">
                                            <!--<td>
                                                 <label class="checkbox">
                                                    <input type="checkbox" value="checked" data-toggle="checkbox">
                                                 </label>

                                        public id: string,
                                        public customer: string,
                                        public name?: string,
                                        public date?: number,
                                        public cost?: number,
                                        public type?: string
                                                 {{service.id}}
                                            </td>-->
                                        	<td>{{message.username}}</td>
                                            <td>{{message.message }}</td>
                                            <td><a href="#">{{message.emailAddress}}</a></td>
                                            <td>{{message.id | date :'fullDate'}}</td>
                                            <!--<td *ngIf="service.deal">Deal</td>
                                        	<td *ngIf="!service.deal">Service </td>-->
                                        	
                                        <!--<td class="yellow">Service</td>-->
                                            <td class="td-actions text-right">
                                             <!--<button type="button" rel="tooltip" title="Loyal Customer" class="btn btn-warning btn-simple btn-xs">
                                                <i class="fa fa-bullseye"></i>
                                            </button>-->
                                            <button type="button" rel="tooltip" title="View Details"  class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Block Customer" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                        </tr>
                                          
                                 
                          
                                    </tbody>
                                </table>
                </div>
            </div>
                                
        </div>

        
    </div>
</div>
